<h1>比赛列表</h1>

<table>
  <thead>
    <th>名称</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>状态</th>
    <th>排名</th>
    <% if is_admin? %>
      <th></th>
      <th></th>
    <% end %>
  </thead>
  <%= render @contests %>
</table>
<p>目前时间: <%= Time.now %></p>
<% if is_admin? %>
  <hr>
  <%= link_to 'New Contest', new_contest_path %>
<% end %>
