<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>发生了 <%= object.errors.count %> 条错误:</h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

