<% cache do %>
<h1><%= @title %></h1>
<h2>竞赛组织</h2>

<h3>主办单位</h3>
<p>浙江大学计算机学院与软件学院</p>

<h3>承办单位</h3>
<p>浙江大学微软技术俱乐部</p>
<p>浙江大学计算机学院团学联</p>

<h4>浙江大学微软技术俱乐部简介</h4>
<p>
浙江大学微软技术俱乐部（MSTC.ZJU）关注、着眼、并立足于浙大学生对软件技术的兴趣和热情，以微软的技术和品牌作为自身的核心竞争力，致力于在浙大校园内：
</p>
<ul>
<li>倡导、支持软件技术的交流，并提供全方位的服务(Service)</li>
<li>积极架构软件开发者间的交流和互助网络(Network)</li>
<li>崇尚协作与整合，建设开放和谐的技术社区(Community)</li>
</ul>
<p>
浙江大学微软技术俱乐部因出色的组织工作和富有创新的活动，在全国30多所高校俱乐部中脱颖而出，多次获评微软技术俱乐部建设奖。我们推出的学生实践项目，无论在数量上还是质量上，在全国各高校俱乐部中均名列前茅。由于推出优秀的学生实践项目，获得学生优秀实践项目组织奖。今天，浙江大学微软技术俱乐部凭借其雄厚的技术实力和各项品牌技术活动已成为浙江大学校内技术社团中的无可替代的存在；如家一样的社团文化也让社团生活成为俱乐部成员们大学中最珍贵的时光。
</p>
<% end %>
