<% cache do %>
  <h1><%= @title %></h1>
  <h2>竞赛细则</h2>
  <ol>
    <li>比赛时间为2个小时。</li> 
    <li><strong>比赛中至少6题，至多14题（题目总数可于现场确认），中文题目，难度以简单题为主。</strong></li> 
    <li>参赛者需在比赛前半小时到达比赛地点的指定机位上就坐。参赛者须携带有效证件入场，并接受现场工作人员的身份确认。比赛开始后按照主办方的指示，进入比赛网页登录。当比赛开始时，即可通过链接打开题目，并根据页面提示提交程序。</li> 
    <li><strong>在提交题目时，用户名是参赛者的学号，密码为现场发放的密码。</strong></li> 
    <li>参赛者<strong>可以</strong>携带诸如书、手册、 程序清单等参考资料。</li> 
    <li>参赛者不得携带任何电子媒质的资料，比赛期间需要关闭移动电话等通讯工具。</li> 
    <li>竞赛的预定时间为2小时，但当比赛进行一定时间后，主办方可以因为出现不可预见的事件而调整比赛时间长度，一旦比赛时间长度发生改变，将会以及时并且统一的方式通告所有参赛者。</li> 
    <li>参赛者有权利通过提交解释请求，针对试题描述中的不明确或错误的部分向现场技术人员提问。如果裁判确认试题中确实存在不明确或错误的部分，将会通过比赛主页以通告的形式向所有参赛者进行声明或更正。</li> 
    <li>严禁在提问版面等公开场合张贴源程序或讨论算法，违者将立刻被取消参赛资格。</li> 
    <li>当参赛者出现妨碍比赛正常进行的行为时，诸如擅自移动赛场中的设备，未经授权修改比赛软硬件，干扰他人比赛等，都将会被主办方剥夺参赛资格。</li> 
    <li><strong>比赛期间，所有参赛者可以实时看到自己提交的解答正确与否，同时可以看到所有参赛者的排名情况。比赛进行到最后30分钟的时候封锁参赛者排名情况，此时所有参赛者均不能看到实时排名情况，直至比赛结束。</strong></li> 
  </ol>

  <h2>竞赛评分</h2>

  <p>试题的解答提交后由评分系统评出即时得分，每一次提交会被判为正确或者错误，判决结果会及时通知参赛队伍；题目被正确解答并得分，将不能再改变该题的结果。参赛队可能收到的反馈信息包括：</p>

  <table>
    <thead>
      <th>结果</th>
      <th>说明</th>
    </thead>
    <% 
      judge_result_descs = [
        '评测系统还没有评测到这个提交，请稍候',
        '评测系统正在评测，很快会有结果',
        '您提交的代码无法完成编译，点击“编译错误”可以看到编译器输出的错误信息',
        '恭喜！您通过了这道题',
        '您的程序输出的格式不符合要求（比如空格和换行与要求不一致）',
        '您的程序未能对评测系统的数据返回正确的结果',
        '您的程序未能在规定时间内运行结束',
        '您的程序使用了超过限制的内存',
        '您的程序输出了太多的内容，超过了限制',
        '您的程序发生段错误，可能是数组越界，堆栈溢出（比如，递归调用层数太多）等情况引起',
        '您的程序运行时发生了错误，尝试对评测系统造成破坏也会造成此错误',
        '评测系统发生内部错误，无法评测。遇到此情况请联系工作人员。此错误不会计入排名',
      ]
      12.times do |n| 
    %>
    <tr>
      <td>
        <span class="judgeRes-<%= n %>">
          <%= judge_results[n] %>
        </span>
      </td>
      <td>
        <%= judge_result_descs[n] %>
      </td>
    </tr>
  <% end %>
</table>
<p>所有参赛者会根据得分进行现场即时排名并公布于比赛网站。每道试题用时将从比赛开始到试题解答被判定为正确为止，其间每一次错误的运行将被加罚 20 分钟时间，未正确解答的试题不记时。</p>

<p>参赛者首先根据解题数目进行排名。在决定个人排名时，如果多人解题数量相同，则根据总用时加上惩罚时间进行排名。总用时和惩罚时间由每道解答正确的试题的用时加上惩罚时间而成。总用时加惩罚时间为 0 的选手不计入最终颁奖排名。</p>

<h2>评奖细则</h2>

<p>通过在规定时间内完成给出的C语言题目，并由评审系统即时评出得分，根据排名给予奖品。需要注意的是，<strong>并非排名越前，所得奖励就越好。</strong></p>
<p>评选方式：个人按答题成绩排名，并按照排名顺序给予奖品和二课加分。总用时加惩罚时间为 0 的选手不计入最终颁奖排名。</p>
<p>为了鼓励更多同学参与进来，颁奖分荣誉规则(含二课分)和奖品规则，具体规则见下表。</p>
<table>
  <thead>
    <tr><th>排名</th><th>荣誉</th><th>二课加分</th></tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>神秘奖</td><td>2</td></tr>
    <tr><td>2-25</td><td>一等奖</td><td>1</td></tr>
    <tr><td>26-100</td><td>二等奖</td><td>1</td></tr>
    <tr><td>101-200</td><td>三等奖</td><td>1</td></tr>
    <tr><td>201-500</td><td>鼓励奖</td><td>0.5</td></tr>
  </tbody>

</table>

<table>
  <thead>
    <th>排名</th><th>奖品</th><th>个数</th>
  </thead>
  <tbody>
    <tr><td>1</td><td>特别奖</td><td>1</td></tr>
    <tr><td>2-150 中的质数</td><td>耳机</td><td>35</td></tr>
    <tr><td>2-150 中的非质数</td><td>USB Hub</td><td>114</td></tr>
    <tr><td>151-500</td><td>巧克力</td><td>350</td></tr>
  </tbody>
</table>
<p>由于奖品总数限制，如果有并列的情况发生，竞赛组委会按照排名以及发奖规则优先考虑排名在前面的参赛选手，排名在后的参赛选手的奖品可能会被下调。</p>
<p>附: 2-150 中的质数: 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149</p>

<% end %>
