<h1><%= @title || '欢迎' %></h1>
<% if signed_in? %>
  <p>欢迎来到计软学院第五届 C 语言趣味程序设计竞赛，您已经成功登录。</p>
  <p>接下来，您可以在左边的侧栏中点击<%= link_to '比赛列表', contests_path %>进入比赛。</p>
  <p>每道题目的下面有"提交"链接，当您完成一道题时，进入相应题目的"提交"页面，把代码粘贴入代码框，然后单击下方的"提交"按钮完成一次提交。</p>
  <p>在比赛列表中有查看排名的链接，您可以查看比赛的实时排名以制定自己的战略。</p>
  <p>有问题请查看<%= link_to '帮助', help_path %>页面，或者向工作人员咨询。</p>
<% else %>
  <p>欢迎来到计软学院第五届 C 语言趣味程序设计竞赛，参加比赛请先<%= link_to '登录', signin_path %>。</p>
<% end %>
