<h1>最近提交</h1>

<table>
  <tr>
    <th>ID</th>
    <th>题目</th>
    <th>用户</th>
    <th>评测结果</th>
    <th>提交时间</th>
    <th>内存(MB)</th>
    <th>时间(ms)</th>
    <th>语言</th>
    <% if is_admin? %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>

  <%= render @submissions %>
</table>

<%= will_paginate %>

