<% if (@submission.result || 0) <= 1 %>
<script type=text/javascript>setTimeout(' document.location=document.location', 2000);</script>
<% end %>
<table>
  <thead>
    <th>ID</th>
    <th>题号</th>
    <th>用户</th>
    <th>评测结果</th>
    <th>提交时间</th>
    <th>内存(MB)</th>
    <th>时间(ms)</th>
    <th>语言</th>
    <% if is_admin? %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </thead>

  <%= render @submission %>
</table>

<%if @submission.owner?(current_user) || is_admin?  %>
  <%= link_to '查看源代码', :controller => "submissions", :action => "source", :id => @submission %>
<% end %>

<% if is_admin? %>
  <hr>
  <%= link_to 'Edit', edit_submission_path(@submission) %>
<% end %>
