<tr>
  <% problem = problem_link.problem %> 
  <td><%= link_to problem_link.name, problem %></td>
  <td><%= problem.title %></td>
  <td><%= problem.accept_count %></td>
  <td><%= problem.submit_count %></td>
</tr>
