<div id="pageFooter" class="center">
  <hr class="nomarginbottom">
  <div id="footerContainer">
    <div class="lfloat">
      版权所有 (C) 2010 浙江大学 MSTC
    </div>
    <div id="footerNav" class="rfloat">
      <%= link_to "帮助", help_path %> · <%= link_to "关于我们", about_path %>
    </div>
  </div>
</div>

